extends blog_layout

block content
  div(class="masthead")
    div(class="container")
      nav(id="Blog", class="blog-nav")
        noscript
          a(class="blog-nav-item", href="/") Home
          a(class="blog-nav-item active", href="/blog") Blog
          a(class="blog-nav-item", href="/portfolio") Portfolio
          a(class="blog-nav-item", href="/projects") Projects
          a(class="blog-nav-item", href="/contacts") Contact Me

  noscript
    h4 
      em Javascript is required to view this page

  div(class="container")
    div(class="row shrink")
      div(class="col-sm-8 blog-main")
      div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
        h4(id="archives", class="titles") Archives
        ol(class="list-unstyled", id="dates")

  div(class="footer")
    div(class="blog-nav")
    p(id="copyright") &copy;
      noscript &nbsp; Alouise Quiatchon
