doctype html5 
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/components/bootstrap-sass/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/texts/blog.txt')
    script(src='/js/blog.js')
    script(src='/components/mustache/mustache.js')
    script(src='/js/template.js')

