doctype html5 
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='icon', href='public/img/favicon.png')
    if process.env.NODE_ENV === 'production'
      link(rel='stylesheet', href='dist/css/main.min.css')
    else
      link(rel='stylesheet', href='public/components/bootstrap-sass/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='public/css/style.css')
      script(src='http://localhost:35729/livereload.js')
  body
    block content
    if process.env.NODE_ENV === 'production'
      script(src='dist/js/contacts_scripts.min.js');
    else
      //-<!-- build:js dist/js/contacts_scripts.min.js -->
      script(src='public/components/jquery/dist/jquery.min.js')
      script(src='public/components/mustache/mustache.js')
      script(src='public/js/template.js')
      script(src='public/texts/contacts.txt')
      script(src='public/js/contacts.js')
      //-<!-- endbuild -->
