doctype html5 
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='icon', href='public/img/favicon.png')
    if process.env.NODE_ENV === 'production'
      link(rel='stylesheet', href='dist/css/portfolio.min.css')
      link(rel='stylesheet', href='public/others/easybox/styles/default/easybox.min.css')
    else
      //-<!-- build:css dist/css/portfolio.min.css -->
      link(rel='stylesheet', href='public/components/bootstrap-sass/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='public/css/style.css')
      //-<!-- endbuild -->
      script(src='http://localhost:35729/livereload.js')
  body
    block content
    if process.env.NODE_ENV === 'production'
      script(src='dist/js/portfolio_scripts.min.js');
    else
      //-<!-- build:js dist/js/portfolio_scripts.min.js -->
      script(src='public/components/jquery/dist/jquery.min.js')
      script(src='public/components/mustache/mustache.js')
      script(src='public/others/easybox/distrib.min.js')
      script(src='public/others/easybox/easybox.min.js')
      script(src='public/others/easybox/handlers.min.js')
      script(src='public/others/easybox/extras/autoload.min.js')
      script(src='public/js/template.js')
      script(src='public/js/portfolio.js')
      //-<!-- endbuild -->
