extends proj_layout

block content
  body
    div(class="masthead")
      div(class="container")
        nav(id="Projects", class="blog-nav")
          noscript
            a(class="blog-nav-item", href="/") Home
            a(class="blog-nav-item", href="/blog") Blog
            a(class="blog-nav-item", href="/portfolio") Portfolio
            a(class="blog-nav-item active", href="/projects") Projects
            a(class="blog-nav-item", href="/contacts") Contact Me

    noscript
      h4
        em Enable Javascript to display all content on this page.

    div(class="container proj")
      div(class="row hr-min")
        div(id="work")
          h1 Latest Work

      div(class="row featurette")
        div(id="todos", class="col-md-7")
          h2(class="featurette-heading")
            span(class="text-muted")
            a(href='/todos') Try Me 
          p(class="lead") Simple To Dos App.
        div(class="col-md-5")
          img(class="featurette-image img-responsive", src='public/img/todos.png', alt="To Dos")

      hr(class="featurette-divider")

      div(class="row featurette")
        div(id="mysite", class="col-md-7")
          h2(class="featurette-heading")
            span(class="text-muted")
          p(class="lead") Portfolio Website.
        div(class="col-md-5")
          img(class="featurette-image img-responsive", src='public/img/mysite.png', alt="My website")

      hr(class="featurette-divider")

      div(class="row featurette")
        div(class="col-md-5")
          img(class="featurette-image img-responsive", src='public/img/familysite.png', alt="My family's website")
        div(id="familySite", class="col-md-7")
          h2(class="featurette-heading")
            span(class="text-muted")
          p(class="lead") Family Website.

      hr(class="featurette-divider")

    div(class="footer")
      div(class="blog-nav")
      p(id="copyright") &copy;
        noscript &nbsp; Alouise Quiatchon
