doctype html5 
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    if process.env.NODE_ENV === 'production'
      link(rel='stylesheet', href='dist/css/projects_styles.min.css')
    else
      //-<!-- build:css dist/css/projects_styles.min.css -->
      link(rel='stylesheet', href='public/components/bootstrap-sass/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='public/css/style.css')
      //-<!-- endbuild -->
    if !process.env.NODE_ENV
      script(src='http://localhost:35729/livereload.js')
  body
    block content
    if process.env.NODE_ENV === 'production'
      script(src='dist/js/projects_scripts.min.js');
    else
      //-<!-- build:js dist/js/projects_scripts.min.js -->
      script(src='public/components/jquery/dist/jquery.min.js')
      script(src='public/texts/projects.txt')
      script(src='public/js/projects.js')
      script(src='public/components/mustache/mustache.js')
      script(src='public/js/template.js')
      //-<!-- endbuild -->
