/**************** CONTACT ME ********************/
.contact {
  margin-bottom: 60px;
}

.head-msg {
  padding: 15px 0;
}

.main-msg {
  padding-bottom: 20px;
}

.form-msg form {
  font-size: 20px;
}

input[type="text"] {
  width: 50%;
  height: 30px;
}

textarea {
  width: 50%;
  height: 100px;
}
